hidden = [".iex.exs"]
run = "iex -S mix phx.server"

entrypoint = "lib/dadabase_web/controllers/page_controller.ex"

[env]
LC_ALL = "en_US.UTF-8"
HEX_HOME = "$REPL_HOME/.hex"
MIX_HOME = "$REPL_HOME/.mix"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "mix phx.server"]
deploymentTarget = "cloudrun"


